/* Inter Regular (400) */

@font-face
{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),
        url("../fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter/Inter-Regular.woff?v=3.19") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Inter ExtraBold (800) */

@font-face
{
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(""),
        url("../fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Inter Regular Italic (400) */

@font-face
{
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local(""),
        url("../fonts/inter/Inter-Italic.woff2?v=3.19") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter/Inter-Italic.woff?v=3.19") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Inter ExtraBold Italic (800) */

@font-face
{
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local(""),
        url("../fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}